@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero Section Background */
.hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/hero.png"); /* Added leading / for relative path fix */
    background-size: cover; /* Optional: Cover the entire container */
    background-position: center; /* Optional: Center the image */
}

/* Shimmer Animation */
.shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(
        to right,
        #2c2c2c 4%,
        #333 25%,
        #2c2c2c 36%
    );
    background-size: 1000px 100%;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

/* Error Page Fancy Radial Background */
.error-page--content::before {
    content: "";
    position: absolute;
    top: -10vw;
    bottom: -10vw;
    left: 10vw;
    right: 10vw;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.2) 45%,
        rgba(0, 0, 0, 0.1) 55%,
        transparent 70%
    );
    z-index: -1;
}
